@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;1,400;1,500&display=swap');
:root {
  --gain-money-btn: #2FBF71;
  --gain-affection-btn: #EF2D56;
  --background-menu: #212D40;
  --background: #3B291D;
  --borders: #251A12;
  --scrollbar-bg: #6F432A;
  --scrollbar-thumb: #98633B;
  --text: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
  color: var(--text);
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
  scrollbar-width: thin;
}
h1, h2, h3 {
  font-family: 'Mochiy Pop One', sans-serif;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
/* modal */
.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #212D40e1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal {
  padding: 10px 25px;
  width: 50%;
  height: 70%;
  border-radius: 25px;
  background-image: url("/wood-bg.svg");
  background-size: cover;
  border: var(--borders) 6px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.modal h1 {
  font-size: 48px;
}
.modal p {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 24px;
  text-align: center;
}
.modal button {
  padding: 15px 30px;
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 24px;
  background-color: var(--background);
  border: var(--borders) 8px solid;
  border-radius: 25px;
}
.modal-stats {
  font-size: 18px;
  display: flex;
  gap: 20px;
}
.subtext {
  font-size: 4px;
}
/* game board */
.game-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0fr;
  grid-template-rows: 0fr 1fr 0fr;
  background-image: url("/forest-bg.svg");
  background-repeat: no-repeat;
  background-size: 1620px 1000px;
}
.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* Title */
.title-box {
  grid-column: span 3;
  width: 250px;
  height: 50px;
  justify-self: center;
  background-image: url("/wood-bg.svg");
  border: var(--borders) 6px solid;
  border-radius: 25px;
  padding: 25px;
  margin: 30px;
}
/* Reaction Box */
.reaction-box {
  display: flex;
  justify-content: center;
  grid-row: span 2;
}
.reaction-box1 {
  grid-column: 1;
}
.reaction-box2 {
  grid-column: 3;
}
.reaction-box > *, .reaction-box1 > *, .reaction-box2 > *{
  position: absolute;
  z-index: 3;
  cursor: none;
}
/* Click area */
.clickable-area{
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clickable-area img {
  border: var(--borders) 10px solid;
  border-radius: 75px;
}
/* Status Bar */
.progress-bar {
  position: relative;
  bottom: 15px;
}
.current-progress {
  height: 100%;
  position: absolute;
}
.progress-bar-variant {
  margin: 0 10px;
  position: relative;
  background-color: var(--text);
  border: var(--borders) 6px solid;
}
.current-progress-variant {
  height: 100%;
  position: absolute;
}
/* Stats */
.stat-block-bg {
  grid-column: span 3;
  grid-row: 3;
  padding: 25px;
  /* find a way to lazy load this? */
  background-image: url("/wood-bg.svg");
  background-size: cover;
  border-top: var(--borders) 10px solid;
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 4;
}
.every-stat {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.happy-meter {
  display: flex;
  align-items: end;
}
.time-meter, .money-meter, .life-meter {
  width: 180px;
}
.emoji {
  font-size: 32px;
}
/* Perk Grid */
.perk-menu {
  width: 250px;
  /* find a way to lazy load this? */
  background-image: url("/wood-bg.svg");
  border-left: var(--borders) 10px solid;
  padding: 25px;
  grid-row: 1 / span 3;
  grid-column: 4;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: scroll;
  position: relative;
  z-index: 5;
}
.perk-title{
  text-align: center;
  background-image: url("/wood-bg.svg");
  border: var(--borders) 8px solid;
  border-radius: 25px;
  padding: 25px;
}
/* UPDATE PERK BUTTONS */
.perk-button {
  display: flex;
  flex-direction: column;
  background-image: url("/wood-bg.svg");
  border: var(--borders) 8px solid;
  border-radius: 25px;
}
.perk-content {
  width: 100%;
  height: auto;
  border: none;
  background: none;
  font-size: 24px;
}
.perk-container {
  position: relative;
  width: 100%;
}
.perk-container img {
  width: 100%;
  height: 165px;
  border-radius: 20px 20px 0 0;
}
.perk-container h3 {
  text-shadow: 4px 4px 18px var(--borders);
  width: 100%;
  position: absolute;
  top: 40%;
}
.perk-blurp{
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.perk-blurp p {
  font-size: 16px;
  font-style: italic;
}
.top-perk-info {
  width: 100%;
  height: 100%;
  display: flex;
}
.bottom-perk-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* laptop */
@media screen and (max-width: 1600px) {
  .clickable-area img {
    width: 300px;
    height: 300px;
  }
}
/* Ipad */
@media screen and (max-width: 1400px) {
  .game-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0fr 1fr 0fr 1fr;
  }
  .perk-menu {
    width: calc(100% - 50px);
    /* find a way to lazy load this? */
    background-image: url("/wood-bg.svg");
    border-top: var(--borders) 10px solid;
    border-left: none;
    padding: 25px;
    grid-column: 1 / span 3;
    grid-row: 4;
    flex-direction: row;
    gap: 25px;
    overflow-x: auto;
    position: relative;
    z-index: 5;
  }
  .perk-title{
    display: none;
  }
  .perk-container img {
    width: 220px;
    height: 165px;
    border-radius: 20px 20px 0 0;
  }
  .clickable-area img {
    width: 250px;
    height: 250px;
  }
}
/* kindle */
@media screen and (max-width: 1000px) {
  .every-stat {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .game-grid {
    height: 200vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0fr 1fr 1fr 1fr;
  }
  .every-stat {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .money-meter, .life-meter, .time-meter, .happy-meter {
    margin: 0 25px;
    width: calc(100% - 50px);
  }
  .happy-meter {
    grid-column: span 2;
  }
  .time-meter {
    grid-column: span 2;
  }
}