* {
  margin: 0;
  padding: 0;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
/* Reaction Box */
.reaction-box {
  width: 550px;
}
.reaction-box > * {
  position: absolute;
  z-index: 3;
  cursor: none;
}
/* Click area */
/* .clickable-area img{
  position: relative;
  z-index: 1;
} */
.clickable-area > * {
  position: absolute;

}